# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and Artifacts (ignore heavy files, keep structure)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
src/models/artifacts/*.joblib

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
node_modules/

activity_engine.py
